* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  width: 86px;
  height: 23px;
}

.mogo {
  width: 100%;
}

.menu {
  width: 600px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #b0e9de;
  text-transform: uppercase;
  line-height: 1.2;
  border-bottom: solid 2px #ffffff;
}

.menu-item:hover {
  color: #f38181;
  border-bottom: solid 2px #f38181;
}

.service-container {
  width: 100%;
  margin-top: 130px;
}

.service-container h4 {
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-transform: capitalize;
}

.service-container h3 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
}

.line {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.line hr {
  width: 60px;
  height: 3px;
  color: #f38181;
  border: none;
  background-color: #f38181;
  text-align: center;
}

.service-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 55px;
}

.service-item {
  flex-basis: 30%;
  display: flex;
  padding-bottom: 90px;
}
.service-icon {
  margin-right: 30px;
}

.service-article h6 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
}

.service-article p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  margin-top: 20px;
}

.team-container {
  max-width: 100%;
  margin-top: 30px;
}

.team-container h4 {
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-transform: capitalize;
}

.team-container h3 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
}

.team-article {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.team-article p {
  width: 80%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
}

.team-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-wrapper {
  position: relative;
  width: 30%;
  margin-top: 100px;
}

.item-wrapper:hover .hover-menu {
  display: flex;
}

.item-wrapper:hover .link-img {
  transform: translate(-10px, -10px);
}

.link {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #95e1d3;
}

.link-img {
  width: 100%;
}

.hover-menu {
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translate(-10px, -10px);
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(243, 149, 149, 80%),
    rgba(252, 227, 138, 80%)
  );
}

.hover-menu button {
  width: 50px;
  height: 50px;
  background-color: #fce38a;
  border: solid 1px #f38181;
  color: #f38181;
  font-size: 27px;
}

.hover-menu button:hover {
  background-color: #f38181;
  color: #ffffff;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.name {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.profession {
  font-size: 16px;
  font-family: "Roboto", italic;
  color: rgb(153, 153, 153);
  margin-top: 20px;
  text-transform: capitalize;
}

.footer {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  border-top: solid 1px #9f9f9f;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item span {
  font-family: "Roboto";
  color: #000000;
  font-size: 12px;
}

.footer-input {
  display: flex;
}

.footer-input input {
  width: 230px;
  height: 40px;
}

.footer-input button {
  width: 140px;
  height: 40px;
  color: #ffffff;
  background-color: #95e1d3;
  border: none;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
