* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
}

.blocks {
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 10px;
  margin: auto;
  width: 100%;
  margin: auto;
}

.block {
  grid-column: span 1;
  position: relative;
  border: 1px solid lightgray;
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.block:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  background: #f30a2b;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.event-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  background: #ffd304;
  color: #000000;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.img-container {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 85%;
  position: relative;
}

.image {
  object-fit: contain;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96%;
  height: 96%;
}

.section {
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(174, 174, 174);
  text-transform: uppercase;
  margin-top: auto;
  padding: 0 10px 0 10px;
}

.title-link {
  font-size: 14px;
  font-family: sans-serif;
  display: block;
  margin-top: 10px;
  padding: 0 10px 0 10px;
}

.footer {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.costs {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.old-cost {
  font-size: 14px;
  font-family: sans-serif;
  color: gray;
  text-decoration: line-through;
}

.basket {
  border: none;
  outline: none;
  width: 150px;
  background: #ffd304;
  font-weight: bold;
}
