$primasi-font-stack: "Monserrat", sans-serif;
$title-font: "Montserrat", sans-serif;
$link-font: "Montserrat", sans-serif;
$text-font: "Roboto";
$ks-font: "Kaushan Script";
$primasi-dark-color: #333333;
$primasi-light-color: #ffffff;
$menu-link-color: #fce38a;
$green-color: #95e1d3;
$pink-color: #f38181;
$grey-color: rgb(153, 153, 153);

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
}

.header {
  @extend %flex-column;
  width: 100%;
  height: 900px;
  background: url(../img/bcg.png) top center no-repeat;
  padding-top: 30px;
}

.head {
  width: 88%;
  @extend %flex-between;
  &__menu {
    display: flex;
    width: 45%;
  }

  &__nav {
    width: 100%;
    @extend flex-between;
    align-items: center;
  }

  &__link {
    font-size: 14px;
    font-family: $link-font;
    color: $primasi-light-color;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.link {
  &:hover {
    color: $menu-link-color;
  }

  &__svg {
    fill: $primasi-light-color;

    &:hover {
      fill: $menu-link-color;
    }
  }
}

.head-section {
  @extend %flex-column;
  margin-top: 160px;
  text-align: center;
  width: 820px;

  &__title {
    font-family: $ks-font;
    font-size: 72px;
    font-weight: bold;
    color: $primasi-light-color;
  }

  &__text {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $title-font;
    color: $primasi-light-color;
  }

  &__button {
    font-size: 14px;
    font-family: $primasi-font-stack;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid $primasi-light-color;
    list-style: none;
    background-color: transparent;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 120px;
    color: $primasi-light-color;
  }
}

.main {
  @extend flex-column;
  width: 100%;
}

.section {
  position: relative;
  width: 88%;
  text-align: center;
  padding-top: 40px;

  &:before {
    content: "";
    position: absolute;
    background-color: $pink-color;
    width: 60px;
    height: 5px;
    left: 50%;
    top: 180px;
    transform: translate(-50%);
  }

  &__name {
    font-family: $ks-font;
    font-size: 24px;
    color: $primasi-dark-color;
  }

  &__title {
    font-size: 30px;
    font-family: $title-font;
    color: $primasi-dark-color;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.services {
  @extend flex-between;
  flex-wrap: wrap;
  margin-top: 110px;
}

.service {
  @extend flex-between;
  width: 33%;
  margin-bottom: 100px;
}

.service__icon-wrap {
  display: flex;
  width: 20%;
  align-items: flex-start;
}

.service__text {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
}

.service__title {
  font-size: 14px;
  font-family: $title-font;
  color: $primasi-dark-color;
  text-transform: uppercase;
}

.service__description {
  font-size: 15px;
  font-family: $text-font;
  text-align: left;
  color: $grey-color;
  margin-top: 20px;
}

.section__description {
  font-size: 15px;
  font-family: $text-font;
  color: $grey-color;
  margin-top: 110px;
  line-height: 1.6;
}

.team-list {
  @extend flex-between;
  margin-top: 90px;

  &__item-team {
    position: relative;
    width: 30%;
    margin-top: 100px;

    &:hover {
      .link__hover-menu {
        display: flex;
      }

      .link__img {
        transform: translate(-10px, -10px);
      }
    }

    .team-list__info {
      width: 100%;
      @extend flex-between;
      margin-top: 30px;

      .name {
        font-size: 15px;
        font-family: $title-font;
        color: $primasi-dark-color;
        text-transform: uppercase;
      }

      .profession {
        font-size: 16px;
        font-family: $text-font;
        color: $grey-color;
        margin-top: 20px;
        text-transform: capitalize;
      }
    }

    .link {
      position: relative;
      display: flex;
      width: 100%;
      background-color: $green-color;

      &__img {
        display: block;
        width: 100%;
      }

      &__hover-menu {
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-10px, -10px);
        display: none;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          rgba(243, 149, 149, 80%),
          rgba(252, 227, 138, 80%)
        );
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: $menu-link-color;
        border: solid 1px $pink-color;
        color: $pink-color;
        font-size: 27px;
        text-align: center;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  margin-top: 80px;

  .footer__wrap {
    @extend flex-between;
    width: 88%;
    align-items: center;

    .footer__text {
      font-size: 14px;
      font-family: $link-font;
      color: $primasi-dark-color;
      font-weight: bold;
    }

    .footer__link {
      font-size: 14px;
      font-family: $link-font;
      color: $pink-color;
      font-weight: bold;
    }

    .form-wrap {
      display: flex;
      width: 380px;
      min-height: 40px;

      &__input {
        width: 60%;
        padding: 10px;
      }

      &__button {
        width: 40%;
        background-color: $green-color;
        color: $primasi-light-color;
        font-family: $link-font;
        border: none;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background: url(../img/bcg@2x.png) top center no-repeat;
  }
}
