@media (max-width: 920px) {
  .header {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .menu-header {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .menu-header {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-menu {
    padding: 10px 15px 0 15px;
  }
}
