* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    padding-top: 30px;
}

body {
    width: 100vw;
}

.header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}

.menu {
}
.menu li {
    display: inline-block;
    margin: 0 20px 0 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 0 10px 0;
}
.menu a:hover {
    color: #1abc9c;
}

main {
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.container img {
    width: 100%;
    
}

.btn-left {
    position: absolute;
    top: 38%;
    left: 15%;
    text-decoration: none;
    border: none;
    background-color: rgba(122, 196, 178, 50%);
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
}

.btn-left:hover {
    background-color: rgb(122, 196, 178);
}

.btn-right {
    position: absolute;
    top: 37%;
    right: 15%;
    text-decoration: none;
    border: none;
    background-color: rgba(122, 196, 178, 50%);
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
}
.btn-right:hover {
    background-color: rgb(122, 196, 178);
}

.title {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 3.1vw;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    word-spacing: 1rem;
}

.des {
    position: absolute;
    top: 50%;
    left: 38.1%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1vw;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
}
 
.shop {
    width: 70%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    margin: 0 auto;
  }
  
  .section {
      width: 20%;
      margin-top: 25px;
      cursor: pointer;
      
  }
  .section img {
      width: 100%;
  }



  .list {
      width: 100%;
      display: inline-block;
      margin-top: -4px;
  }
  .name {
      display: inline-block;
      width: 80%;
      background-color: #323232;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      color: #ffffff;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
  }
  .name:hover {
      background-color: #1abc9c;
  }
      
  .price {
    display: inline-block;
    width: 20%;
    background-color: #8c8c8c;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -4px;
    margin-left: -px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .price:hover {
      background-color: rgb(35, 221, 150);
  }
  