* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    min-height: 100vh;
}

.header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto
}

.menu {
}
.menu li {
    display: inline-block;
    margin: 0 20px 0 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 0 10px 0;
}
.menu a:hover {
    color: #1abc9c;
}


  